/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body.work-bg {
    background-color: #e8f5e9;
}

body.break-bg {
    background-color: #e3f2fd;
<<<<<<< HEAD
}
=======
}
>>>>>>> cf30af34f94a6ec7a09017b16073f225b172f465
